{
  "plugins": ["prettier"],
  "extends": ["prettier", "prettier/react"],
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "prettier/prettier": "error",

    // Best practices
    "array-callback-return": "error",
    "consistent-return": ["error", { "treatUndefinedAsUnspecified": true }],
    "curly": ["error", "all"],
    "dot-notation": "warn",
    "no-else-return": "error",
    "no-empty-function": ["error", { "allow": ["constructors", "arrowFunctions"] }],
    "no-eq-null": "error",
    "no-eval": "error",
    "no-implied-eval": "error",
    "no-loop-func": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal": "error",
    "no-proto": "error",
    "no-return-assign": ["error", "always"],
    "no-sequences": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": ["error", { "args": "none", "ignoreRestSiblings": true }],
    "no-useless-concat": "error",
    "vars-on-top": "warn",

    // Variables
    "no-catch-shadow": "error",
    "no-shadow": "error",
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-use-before-define": "error",

    // Style
    "array-bracket-spacing": ["error", "never"],
    "array-bracket-newline": ["error", { "multiline": true }],
    "block-spacing": "warn",
    "brace-style": ["error", "1tbs", { "allowSingleLine": false }],
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": "error",
    "computed-property-spacing": ["error", "never"],
    "func-call-spacing": ["error", "never"],
    "func-names": ["error", "never"],
    "func-style": ["error", "expression"],
    "function-paren-newline": ["error", "multiline"],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true, "mode": "strict" }],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "max-depth": ["error", 1],
    "max-len": ["error", 120],
    "max-nested-callbacks": ["error", { "max": 3 }],
    "no-bitwise": "error",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-inline-comments": "error",
    "no-lonely-if": "error",
    "no-mixed-operators": "error",
    "no-multiple-empty-lines": "error",
    "no-negated-condition": "error",
    "no-trailing-spaces": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "object-curly-newline": ["error", { "multiline": true }],
    "object-curly-spacing": ["error", "always", { "arraysInObjects": true }],
    "object-property-newline": ["error", { "allowMultiplePropertiesPerLine": true }],
    "one-var-declaration-per-line": ["error", "always"],
    "operator-linebreak": ["error", "before"],
    "quote-props": ["error", "consistent-as-needed"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true, "avoidEscape": true }],
    "semi": [
      "error",
      "always"
    ],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "semi-style": ["error", "last"],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": [1, { "words": true, "nonwords": false }],
    "spaced-comment": ["error", "always"],

    // ECMAScript 6
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": "error",
    "no-var": "error",
    "object-shorthand": 1,
    "prefer-const": "error"
  }
}
